#controls {
  margin-top: 10px;
  margin-left: 30px;
}

#controls1 {
  position: absolute;
  margin-top: -28px;
  margin-left: 220px;
}

#button1 {
  position: absolute;
  margin-top: -31px;
  margin-left: 1180px;
}

#button1_1 {
  position: absolute;
  margin-top: 7px;
  margin-left: 1180px;
}

body {
  overflow: hidden;
}

#title {
  margin-top: 5px;
  margin-left: 30px;
}

.bg-dark.border-dark {
  border-color: #343a40!important;
}

::placeholder {
  color: rgb(20, 20, 20);
}

#button_label:focus {
  outline-width: 0;
}

#button_label {
  padding-left: 3px;
}

#button_url:focus {
  outline-width: 0;
}

#button_url {
  padding-left: 3px;
}

#state_input:focus {
  outline-width: 0;
}

#state_input {
  padding-left: 3px;
}

#detail_input:focus {
  outline-width: 0;
}

#detail_input {
  padding-left: 3px;
  margin-top: -50px;
}

#titleText {
  font-weight: bold;
  font-size: 60px;
}

#client_input {
  margin-left: 30px;
  padding-left: 2px;
  outline-width: 0;
  margin-top: 10px;
}

#start_button {
  margin-left: 30px;
  margin-top: 10px;
  outline-width: 0;
}

#start_button:hover {
  background-color: rgb(52, 58, 64) !important;
}

#start_button {
  background-color: rgb(51, 58, 64) !important;
}

#console {
  margin-left: 30px;
  margin-top: 10px;
}

#console_logs {
  margin-left: 3px;
  height: 545px;
}

#elapsed_time {
  position: absolute;
  margin-left: 100px;
  /*margin-top: 0px;*/
  margin-bottom: 50px;
}

#elapsed_time_label {
  position: absolute;
  margin-top: -1px;
  /*margin-bottom: px;*/
}

body {
  border: 1px solid #48545c;
  overflow-y: hidden;
}

#titlebar {
  display: block;
  position: fixed;
  height: 28px;
  width: calc(100% - 2px); /*Compensate for body 1px border*/
  background: rgb(48, 48, 48);
}

#main {
  height: calc(100% - 32px);
  margin-top: 32px;
  padding: 20px;
  overflow-y: auto;
}

#titlebar {
  padding: 4px;
}

#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}

#titlebar {
  color: #FFF;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#min-button {
  grid-column: 1;
}

#max-button, #restore-button {
  grid-column: 2;
}

#close-button {
  grid-column: 3;
}

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}

#window-controls {
  -webkit-app-region: no-drag;
}

#window-controls .button {
  user-select: none;
}

#window-controls .button:hover {
  background: rgba(255,255,255,0.1);
}

#window-controls .button:active {
  background: rgba(255,255,255,0.2);
}

#close-button:hover {
  background: #E81123 !important;
}

#close-button:active {
  background: #F1707A !important;
}

#close-button:active .icon {
  filter: invert(1);
}

#restore-button {
  display: none !important;
}

.maximized #titlebar {
  width: 100%;
  padding: 0;
}

.maximized #window-title {
  margin-left: 12px;
}

.maximized #restore-button {
  display: flex !important;
}

.maximized #max-button {
  display: none;
}